.membership-details {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.membership-details h3 {
    text-align: center;
    margin-bottom: 10px;
}

.membership-details ul {
    list-style-type: none;
    padding: 0;
}

.membership-details li {
    text-align: center;
    font-size: 16px;
    margin: 5px 0;
}

.logout-container {
    text-align: center;
    margin-top: 20px;
}
