<h1>Welcome to gym<h1>
    <div class="membership-details">
  <h3>Gym Membership Plans</h3>
  <ul>
    <li><strong>1 Month:</strong> $30</li>
    <li><strong>3 Months:</strong> $80</li>
    <li><strong>6 Months:</strong> $150</li>
    <li><strong>12 Months:</strong> $250</li>
  </ul>
</div>